<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.tag.dao.UnQualifiedTagDao">
    <insert id="save" parameterType="com.jia.tag.entity.tag">
        insert into unqualified_tags values(#{account},#{subject},#{subject_properties},#{relation},#{object},#{object_properties},#{text},#{time},#{field})
    </insert>
    <select id="findAll" resultType="com.jia.tag.entity.tag">
        select * from unqualified_tags
    </select>
    <select id="findByPage" resultType="com.jia.tag.entity.tag">
        select * from unqualified_tags
        <if test="account!='' or field!=''">where</if>
        <if test="account!=null and account!=''">account=#{account}</if>
        <if test="field!=null and field!=''">
          <if test="account!=null and account!=''">and</if>
            field=#{field}
          </if>
        limit #{start},#{length}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(*) from unqualified_tags
        <if test="account!='' or field!=''">where</if>
        <if test="account!=null and account!=''">account=#{account}</if>
        <if test="field!=null and field!=''">
            <if test="account!=null and account!=''">and</if>
            field=#{field}
        </if>
    </select>
</mapper>