<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.modeling.dao.EntityDAO">
    <insert id="save" parameterType="com.jia.common.entity.entity">
        insert into entity values(#{entity},#{properties},#{extra})
    </insert>
    <select id="findOne" parameterType="String" resultType="com.jia.common.entity.entity">
        select * from entity where entity=#{entity}
    </select>
    <select id="findTotals" resultType="Integer">
        select count(*) from entity
    </select>
</mapper>