<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jia.modeling.dao.RelationDAO">
<insert id="save" parameterType="com.jia.common.entity.relation">
    insert into relation values(#{entity1},#{entity2},#{relation})
</insert>
</mapper>